.nav.main-nav
  .nav-center
    a(href="/")
      img(src="/feather/home.svg", width="24")
    a(href="/entypo") Entypo
    a(href="/feather") Feather
    a(href="/fontawesome") Font Awesome
    a(href="/material") Material
    a(href="/octicons") Octicons
    a(href="/simple/") Simple
