doctype html
html
  head
    title #{title} - icongram
    link(rel='icon', href='/favicon.png')
    link(rel='stylesheet', href='http://unpkg.com/chota')
    link(rel='stylesheet', href='/main.css')
  body
    block content
    block foot
      #footer
        .container
          p.is-text-center All icon libraries are under their respective licenses. All brand icons are trademarks of their respective owners.
          p.is-text-center icongram &copy; 2017 &bull; Made by 
            a(href="//jgog.in", target="_blank") Jenil Gogari
